<h1>MundiPagg API by Marcelo Escobar</h1>
<br>
<h2>Instruções de Uso</h2>
<br>
<h2>API end-point</h2>
<h3><a href="mundipagg.herokuapp.com/pay">mundipagg.herokuapp.com/pay</a></h3>
<br>
<h2>Funções implementadas</h2>