
<h1>MundiPagg API by Marcelo Escobar</h1>
<br>
<h3><%= link_to "Versão em Português", index_pt_path %></h3>
<br>

<h3>For instructions access:</h3>
<a href="https://github.com/m-escobar/mundipagg_api">https://github.com/m-escobar/mundipagg_api</a>
