
<h1>MundiPagg API por Marcelo Escobar</h1>
<br>
<h3><%= link_to "English Version", index_en_path %></h3>
<br>

<h3>Para instruções de uso acesse:</h3>
<a href="https://github.com/m-escobar/mundipagg_api">https://github.com/m-escobar/mundipagg_api</a>
